.comments {
  margin: 0 auto;
  display: inline-nlock;
  width: 75%;
  min-width: 500px;
  color: white;
}

.react-tabs {
  display: inline-block;
  background: white;
  color: black;
  max-width: 100%;
}

.comment-container {
  display: inline-block;
  max-width: 100%;
  background: white;
}


.comment-container a {
  text-decoration: none;
  font-size: 1.75rem;
  color: black;
}

.comment-container .title {
  display: block;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.comment-container .text {
  display: block;
  font-size: 1.25rem;
}

.comment-container .comment {
    display: inline-block;
    padding: .5rem;
}

.comment-container .author {
  display: block;
  text-align: center;
  padding: 1.5rem;
}
