.news-feed {
  display: inline-block;
  background: none;
}

.news-item {
  display: block;
  text-decoration: none;
  background: white;
  margin-bottom: .75rem;
  color: black;
  padding: .5rem;
}

.news-item .title {
  display: block;
}

.news-item .description {
  color: grey;
  font-size: .8rem;
}
