.deltas h2 {
  color: white;
}

.deltas {
  max-width: 600px;
  margin: 0 auto;
  font-size: 3rem;
}

.delta {
  display: block;
}

.delta .subName {
}

.delta .diff {
  float: right;
  margin-top: 5px;
}

.delta .fa {
  font-size: 4rem;
}

.delta .fa-frown-o {
  color: red;
}

.delta .fa-meh-o {
  color: orange;
}

.delta .fa-smile-o {
  color: green;
}
